@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
h1{text-align: center;
    text-transform: uppercase;
    font-family:"Anton";}
sup {color: black;
    font-weight: bolder;
}

.versiculo{font-family:"Roboto Condensed";
text-indent: 1em;}

.jesus {color: red;}
